.container .nav-image{
  width: 192px;
  height: 75px;
}
.carousel-item {
    padding: 20px 30px;
}
.buy-now-button {
    background-color: black;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.see-all{
    margin-top: -30px;
    color:orange;
    font-size: 18px;
}
.card{
    box-shadow:10px 5px 10px lightgrey;
    border-radius:15px;
    border: none;
}
.card img{
    width: 70%;
    margin-left: auto;
    margin-right:auto;
}

/* catagories */

#catagories{
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  #catagories .title{
    text-align: center;
    margin-bottom: 60px;
  }
  #catagories .title h2{
    border-bottom: 6px solid yellow;
    display: inline-block;
    width:120px;
    padding-bottom:10px;
  }
  
  #catagories .img{
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px #e3e3e3;
  }
  
  #catagories .p-img-2{
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 25px #e3e3e3;
  }
  
  /* catagrois part end  */
  
  
  footer p{
    text-align: center;
    font-weight: bold;
  }
  